.footer {
background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77, #778da9);

box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #fff;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 3;
  min-width: 250px;
  margin: 10px;
}



.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 2.0;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: black;
}

.footer-section p {
  line-height: 1.6;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: black;
}

hr {
  border: 0;
  border-top: 1px solid black;
  margin: 30px 0 15px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
}

.footer-bottom a {
  color: #e0c9a6;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}